{% extends 'base.html' %}
{% load static %}
{% block title %} All Bots {% endblock %}

    {% block style %}
    <link href="{% static 'bot/css/web.css' %}" rel="stylesheet">
    <style>

        .chat-map-columns .title-col-box{
        padding: 5px;

        }
        .map-container-box{
            border: 1px solid;
            padding: 15px;
        }
        .map-container-box.border-gray{
        border-color: #949494;
        }

        .map-container-box.border-orange{
        border-color: #ff8a00;
        }
        .map-container-box .map-title{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        }
        p.h4-p{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
        }
        p.block-text{
        font-size: 14px;
        color: #949494;
        margin-bottom: 0;
        }
        .ques-link, .ques-link:hover{
        font-weight: 600;
        color: #ff8a00;
        margin-top: 15px;
        }
        .ml-bot-icon{
        max-width: 120px;
        }
        .ml-smile-icon{
        max-width: 35px;
        }
        .pos-rel{
        position: relative;
        }
        .active-chat-map{
        border-color: #ff8a00 !important;
        box-shadow: 0 0 2px 0px #ff8a00;
        }
        a.create-new-map-class{
        color: #000;
        }
        a.create-new-map-class:hover{
        text-decoration: none;
        }

        .map-actions .col-sm-4{
        padding: 0 1px;

        }

        .map-actions .col-sm-4 a{
        padding: 5px 2px 0 5px;

        }
        .map-actions .col-sm-4 button{
        padding: 0 2px;
        }
        .button-submit-blank{
        margin-bottom: 5px;
        }
        .border-gray .button-submit-blank{
        border-color: #949494;
        }
        iframe{
            width: 350px;
            height: 450px;
            border: 1px solid #c2c2c2;
            border-radius: 6px;
        }
        p.active-time{
            color: #949494;
            font-size: 14px;
        }
        .map-description{
        margin-bottom: 10px;
        }
        .map-description p{
            color: #949494;
            font-size: 14px;
        }
        .lh-14{
        line-height: 14px;
        }

        #hide-button:after {
            bottom: 0px;
        }


    </style>
    {% endblock %}


{% block content %}
<div class="page-heading">
    <h2 class="float-left">Available Bots</h2>
    <p class="float-right">Available Bots: {{ allowed_bot.sum }}</p>
</div>
<div class="clearfix"></div>

<div class="row chat-map-columns">

    <div class="col-sm-3 title-col-box">
        <a href="{% url 'add_bot' %}" class="create-new-map-class">
            <div class="map-container-box border-gray">
                <div class="map-title">Add Bot</div>
            </div>
        </a>
    </div>
    {% for bot in bots %}
    <div class="col-sm-3 title-col-box">
        <div {% if bot.active %} class="map-container-box active-chat-map border-orange" {% else %} class="map-container-box border-gray" {% endif %}>
            <div class="map-icon"></div>
            <div class="map-title">{{ bot.name }}</div>
            <div class="map-description">
                <p class="mb-0"><b>Secret Key:</b> {{ bot.secret_key }}</p>

                <p class="mb-0">
                    {% if bot.active %}
                    <b>Active Till:</b> {{ bot.active_bot.subscription.expire_date.date }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </p>

            </div>
            <div class="map-actions">
                <a type="button" href="{% url 'bot_list' %}?test_secret_key={{ bot.secret_key }}"
                   class="btn button-submit-blank">Test Bot</a>
                {% if not bot.active %}
                    {% if allowed_bot.sum > 0 %}
                <a href="{% url 'activate_bot' id=bot.pk secret_key=bot.secret_key %}" class="btn button-submit-blank">Activate</a>
                    {% endif %}
                {% else %}
                <a href="{% url 'activate_bot' id=bot.pk secret_key=bot.secret_key %}" class="btn button-submit-blank">Deactivate</a>
                {% endif %}
                <a href="{% url 'update_bot_detail' pk=bot.pk slug=bot.slug %}" class="btn button-submit-blank">Configuration</a>
                <a href="{% url 'chat_maps' pk=bot.pk slug=bot.slug %}" class="btn button-submit-blank">Create Chat Map</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% if test_secret_key %}
<div class="bot-functionality-container">
<button class="open-chat-button" id="show-button" onclick="ShowChat()">
  <img src="{% static 'icons/logo-hq.png' %}" class="start-chat-img">

    Contact Us
</button>
<button class="open-chat-button close-btn" id="hide-button" onclick="HideChat()" style="display: none"></button>
<div class="iframe-container fix-element" id="iframe-container">
  <iframe src="{% url 'get_user_detail' secret_key=test_secret_key %}?parent_company={{ parent_company.secret_key }}"
          class="chat-container-iframe" id="chat-container-iframe"></iframe>
</div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'bot/js/web.js' %}"></script>
<script>

</script>
{% endblock %}
