<html class=''>
{% load static %}
<head>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'project/bootstrap/css/bootstrap.min.css' %}">
	<link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"
        type="text/css" />
	<link href="{% static 'bot/css/web.css' %}" rel="stylesheet">

	<style>
	html, body{
    height: 100%;
    }
	{% include 'room.css' %}

.auto-bot-template .sent-msg{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
	margin-left: auto;
}
.auto-bot-template .reply-msg{
	background-color: {{ company.ques_color }}
}
.auto-bot-template button.btn-option{
	border-color: {{ company.ques_color }};
}
.auto-bot-template button.btn-option:hover{
	background-color: {{ company.ques_color }};
}
.auto-bot-template .btn-submit{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
}

</style>
</head>
<body class="auto-bot-template">
<input id="datepicker" style="display: none;">

<div id="frame">

	<div class="content">
		<div class="intro-div d-flex">
			{% if company.image %}
			<div>
				<div class="bot-img mr-2" style="background-image: url('{{ company.image.url }}')"></div>
			</div>
			{% endif %}
			<div>
				<p class="mb-0 bot-intro-text">{{ translated_dict.bot_name|title }}</p>
				<p class="mb-0 bot-instruction-text">{{ translated_dict.bot_introduction }}</p>
			</div>
		</div>
			<div class="chat-body px-3 pt-3 bg-white position-relative">
				<div class="msg-container">
					<div class="reply-msg msg-txt">{{ translated_dict.intro_ques }}</div>
					<div class="option-container">
						<button class="btn-option" id="start-bot">{{ translated_dict.bot_title }}</button>
						{% for pk, title in chat_titles.items %}
							<button class="btn-option" data-title="{{ pk }}" >{{ title }}</button>
						{% endfor %}
						{% if if_booking_available %}
						<button class="btn-option" data-pk="{{ company.pk }}">
							{{ translated_dict.appointment_title }}
						</button>
						{% endif %}
					</div>
				</div>
				<!----- Continue chat yes/no when Bot can not answer ------->
				<div class="continue-chat mt-4 d-none p-3">
					<div class="reply-msg msg-txt mw-100 w-100">
						<p class="text-center mb-0"></p>
					</div>
					<div class="text-center">
					<button class="btn-option">Yes</button>
					<button class="btn-option">No</button>
					</div>
				</div>

				<!------------ Typing icon ------------>
				<div class="ticontainer d-none">
					<div class="typing-line">{{ translated_dict.bot_name|title }} is typing</div>
				  <div class="tiblock">
					<div class="tidot"></div>
					<div class="tidot"></div>
					<div class="tidot"></div>
				  </div>
				</div>


		<!--			<div class="reply-msg msg-txt">This was sent by bot</div>-->
			</div>

			<div class="msg-box">
				<input type="text" placeholder="Type your message ..." class="msg-input" disabled>
				<button class="btn-submit btn-auto-bot disabled"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				<button class="btn-submit btn-map disabled d-none"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				<button class="btn-submit btn-customer disabled d-none"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>


<!--		<div class="messages">-->


<!--			<ul id="chatID">-->

<!--				<li class="replies msg-li">{{ translated_dict.intro_ques }}-->
<!--					<button class="sent-span btn btn-primary" id="start-bot">{{ translated_dict.bot_title }}</button>-->
<!--				{% for pk, title in chat_titles.items %}-->
<!--					<button class="sent-span btn btn-primary chat-titles" data-title="{{ pk }}">{{ title }}</button>-->
<!--				{% endfor %}-->
<!--					{% if if_booking_available %}-->
<!--					<button class="sent-span btn btn-primary book-appointment" data-pk="{{ company.pk }}">-->
<!--						{{ translated_dict.appointment_title }}-->
<!--					</button>-->
<!--					{% endif %}-->
<!--				</li>-->
<!--			</ul>-->
<!--				<div class="clearfix"></div>-->

<!--			<div class="end-instruction-div hidden-element ml-auto mr-auto" id="send-mail-confirm">-->
<!--				<p class="mb-0 text-center">{{ static_dict.confirmation_mail }}</p>-->
<!--			</div>-->
<!--			<div class="end-instruction-div hidden-element ml-auto mr-auto" id="please-wait-p">-->
<!--				<p class="mb-0 text-center">{{ static_dict.please_wait }}-->
<!--					<img src="{% static 'bot/images/loading_gif.gif' %}" class="img-fluid">-->
<!--				</p>-->
<!--			</div>-->
<!--			<div id="book-appointment-div" class="hidden-element end-instruction-div ml-auto mr-auto text-center">-->
<!--				<p class="text-center">{{ static_dict.booking_details }} <br><b><span id="provider-name-span"></span></b>, slot: <b><span id="booking-slot-span"></span></b>, Date:-->
<!--					<b><span id="booking-date-span"></span></b>.<br>{{ static_dict.yes_to_book }}-->
<!--				</p>-->
<!--				<p class="text-center">-->
<!--					<button class="booking-button btn button-submit-blank" id="booking-yes">{{ static_dict.choose_yes }}</button>-->
<!--				</p>-->
<!--				<p class="text-center">-->
<!--					<button class="booking-button btn button-submit-blank" id="booking-no">{{ static_dict.choose_no }}</button>-->
<!--				</p>-->
<!--			</div>-->

<!--			<div class="end-chat-div hidden-element ml-auto mr-auto end-instruction-div">-->
<!--				<p class="text-center">{{ static_dict.saved_requirements }}</p>-->
<!--				<p class="text-center">-->
<!--					<button class="end-button btn button-submit-blank" id="end-chat-yes">{{ static_dict.choose_yes }}</button>-->
<!--				</p>-->
<!--				<p class="text-center">-->
<!--					<button class="end-button btn button-submit-blank" id="end-chat-no">{{ static_dict.choose_no }}</button>-->
<!--				</p>-->
<!--			</div>-->
<!--				<div id="talk_or_not" class="text-center hidden-element end-instruction-div ml-auto mr-auto">-->
<!--                  <p class="text text-center"></p>-->
<!--                  <p><button id="talk_yes" class="btn button-submit-blank">{{ static_dict.choose_yes }}</button></p>-->
<!--                  <p><button id="talk_no" class="btn button-submit-blank">{{ static_dict.choose_no }}</button></p>-->
<!--               </div>-->
<!--			<div class="wait-request end-instruction-div hidden-element ml-auto mr-auto" id="wait-request">-->
<!--				<p class="mb-0 text-center">{{ static_dict.wait_3_min }}</p>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="message-input">-->
<!--			<div class="wrap">-->
<!--			<input style="display:none"  type="text" class="input-box" id="chat-message-input"-->
<!--				   data-button="chat-message-submit" placeholder="Type question here...." />-->
<!--			<input  type="text" class="input-box hidden-element" id="chat-new-plot-message-input"-->
<!--					data-button="chat-new-plot-message-submit" placeholder="Type Your Response...." />-->
<!--			<input style="display:none"  type="text" class="input-box" id="chat-customer-message-input"-->
<!--				   data-button="chat-customer-message-submit" placeholder="Type question here...." />-->
<!--			<button class="submit chat-button-none cursor-pointer" id="chat-message-submit">-->
<!--                <i class="fa fa-paper-plane" aria-hidden="true"></i>-->
<!--            </button>-->
<!--			<button class="submit cursor-pointer" id="chat-customer-message-submit">-->
<!--                <i class="fa fa-paper-plane" aria-hidden="true"></i>-->
<!--            </button>-->
<!--			<button class="submit hidden-element cursor-pointer" id="chat-new-plot-message-submit">-->
<!--                <i class="fa fa-paper-plane" aria-hidden="true"></i>-->
<!--            </button>-->
<!--			</div>-->
<!--		</div>-->
	</div>
</div>

</body>
<!--<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>-->
<script src="{% static 'project/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'project/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bot/js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'bot/js/ajax-script.js' %}"></script>
<script src="{% static 'bot/js/scripts.js' %}"></script>
<script>
$(document).ready(function(){

// Start Bot chat

$("#start-bot").click(function(){
	this_text = $(this).text()
	bot_line = "{{ translated_dict.bot_ques }}"
	StartBotFunc(this_text, bot_line)
});

// CHat with bot

$(".btn-submit").click(function(){
 question = $(".msg-input").val()
 dir_name = "{{ dir_name }}"
 history_pk = "{{ new_history.pk }}"
 secret_key = "{{ secret_key }}"
 customer_id = "{{ u_id }}"
 user_lang = "{{ lang }}"
 backup_line = "{{ company.backup_line }}"
 data = {'question': question, 'dir_name': dir_name, 'history_pk': history_pk, 'secret_key': secret_key,
  		'user_lang': user_lang, 'customer_id': customer_id, 'backup_line': backup_line}
 page_url = "{% url 'get_bot_reply_updated' %}"
 AddBotReply(data, page_url)
})




//------------------
});


</script>
</html>