<html class=''>
{% load static %}
<head>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'project/bootstrap/css/bootstrap.min.css' %}">
	<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" rel="Stylesheet"
        type="text/css" />
	<link href="{% static 'bot/css/web.css' %}" rel="stylesheet">

	<style>
	html, body{
    height: 100%;
    }
	{% include 'room.css' %}

.auto-bot-template .sent-msg{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
	margin-left: auto;
}
.auto-bot-template .reply-msg{
	background-color: {{ company.ques_color }}
}
.auto-bot-template button.btn-option{
	border-color: {{ company.ques_color }};
}
.auto-bot-template button.btn-option:hover{
	background-color: {{ company.ques_color }};
}
.auto-bot-template .btn-submit{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
}

</style>
</head>
<body class="auto-bot-template">
<input id="datepicker" style="visibility: hidden;top: 60px;left: 20px;position: fixed;">

<div id="frame">

	<div class="content">
		<div class="intro-div d-flex">
			{% if company.image %}
			<div>
				<div class="bot-img mr-2" style="background-image: url('{{ company.image.url }}')"></div>
			</div>
			{% endif %}
			<div>
				<p class="mb-0 bot-intro-text">{{ translated_dict.bot_name|title }}</p>
				<p class="mb-0 bot-instruction-text">{{ translated_dict.bot_introduction }}</p>
			</div>
		</div>
			<div class="chat-body px-3 pt-3 bg-white position-relative">
				<div class="msg-container">
					<div class="reply-msg msg-txt">{{ translated_dict.intro_ques }}</div>
					<div class="option-container">
						{% for pk, title in chat_titles.items %}
							<button class="btn-option btn-chat-map" data-title="{{ pk }}" >{{ title }}</button>
						{% endfor %}
						{% if if_booking_available %}
						<button class="btn-option btn-appointment-book" data-pk="{{ company.pk }}">
							{{ translated_dict.appointment_title }}
						</button>
						{% endif %}
					</div>
				</div>
				<!----- Continue chat yes/no when Bot can not answer ------->
				<div class="continue-chat mt-4 d-none p-3">
					<div class="reply-msg msg-txt mw-100 w-100">
						<p class="text-center mb-0"></p>
					</div>
					<div class="text-center">
					<button class="btn-option" id="talk_yes">Yes</button>
					<button class="btn-option" id="talk_no">No</button>
					</div>
				</div>

				<!--------- Wait for 2 minutes -------->
				<div class="wait-minute d-none">
					<div class="reply-msg msg-txt mw-100 w-100">
						<p class="text-center mb-0">Please wait for 2 minutes. We will message you soon.</p>
					</div>
				</div>

				<!---------- Booking confirmation Box ------------->
				<div class="booking-confirmation-box d-none mt-4 p-3">
					<div class="reply-msg msg-txt mw-100 w-100">
						<p class="text-center mb-0">You have selected following slot for booking.
							Name: <b class="approved-provider-name"></b>, Date: <b class="approved-booked-date"></b>,
							Slot: <b class="approved-slot"></b>
						</p>
					</div>
					<div class="text-center">
						<button class="btn-option approve-booking-yes" data-time="" data-slot-pk="">Yes</button>
						<button class="btn-option approve-booking-no">No</button>
						<div class="ticontainer book-wait d-none text-danger mt-2" style="position: initial; justify-content: center">
							<div class="typing-line">Please wait for 2 minutes</div>
						  <div class="tiblock">
							<div class="tidot bg-danger"></div>
							<div class="tidot bg-danger"></div>
							<div class="tidot bg-danger"></div>
						  </div>
						</div>
					</div>
				</div>

				<!-------- Booking Success --------->
				<div class="d-none booking-confirmed">
					<p class="mb-0 text-success font-12">success</p>
				</div>

				<!------------ Typing icon ------------>
				<div class="ticontainer d-none">
					<div class="typing-line">{{ translated_dict.bot_name|title }} is typing</div>
				  <div class="tiblock">
					<div class="tidot"></div>
					<div class="tidot"></div>
					<div class="tidot"></div>
				  </div>
				</div>


				<!------- Unexpected error -------->
				<div class="d-none chat-map-error">
					<p class="mb-0 text-danger font-12">error</p>
				</div>

				<!------- CHat map ended -------->
				<div class="d-none chat-map-last">
					<p class="mb-0 text-primary font-12"></p>
				</div>
			</div>

			<div class="msg-box">
				<input type="text" placeholder="Type your message ..." class="msg-input">
				<button class="btn-submit btn-auto-bot"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				<button class="btn-submit btn-map disabled d-none"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				<button class="btn-submit btn-customer disabled d-none" id="btn-customer"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>

	</div>
</div>

</body>
<!--<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>-->
<script src="{% static 'project/jquery/jquery.min.js' %}"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'project/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bot/js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'bot/js/ajax-script.js' %}"></script>
<script src="{% static 'bot/js/scripts.js' %}"></script>
<script>
$(document).ready(function(){

$('.msg-input').keypress(function (e) {
  if (e.which == 13) {
    if(!$(".btn-auto-bot").hasClass("disabled")){
    	$(".btn-auto-bot").click()
    }
    if(!$(".btn-map").hasClass("disabled")){
    	$(".btn-map").click()
    }
    if(!$(".btn-customer").hasClass("disabled")){
    	$(".btn-customer").click()
    }
    return false;    //<---- Add this line
  }
});

// Slot Booking

$(".approve-booking-yes").click(function(){
	slot_pk = $(this).attr("data-slot-pk")
	time = $(this).attr("data-time")
	u_id = "{{ u_id }}"
	page_url = "{% url 'book_selected_slot' %}"
	BookSelectedSlot(page_url, slot_pk, time, u_id)
})

// Booking click no
$(".approve-booking-no").click(function(){
	$(".booking-confirmation-box").addClass("d-none")
})

// Socket variables
var roomName = "{{ company_secret_key|escapejs }}";
var parentRoomName = "{{ company.parent_company.secret_key|escapejs }}";
var userEmail = "{{ u_id|escapejs }}";
var ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";

// notification part

var notifySocket = new ReconnectingWebSocket(
    ws_scheme + window.location.host +
    '/notify/' + parentRoomName + '/');

document.querySelector('#talk_yes').onclick = function(e) {
	var elements = document.getElementsByClassName('sent-msg');
	var last_ques = elements[elements.length - 1].innerHTML;
	$(".continue-chat").addClass("d-none")
	$(".wait-minute").removeClass("d-none")
	AppendMessageBox()
	$(".btn-auto-bot").addClass("d-none")
	$(".btn-customer").removeClass("d-none")
    notifySocket.send(JSON.stringify({
        'talk_type': 'notification_yes',
        'last_ques': last_ques,
        'secret_key': '{{ company_secret_key }}',
        'user_id': '{{ u_id }}',
    }));
}

document.querySelector('#talk_no').onclick = function(e) {
	var elements = document.getElementsByClassName('sent-msg');
	var last_ques = elements[elements.length - 1].innerHTML;
    $(".continue-chat").addClass("d-none")
    $(".msg-input").prop("disabled", false)
    $(".btn-auto-bot").removeClass("disabled")
    notifySocket.send(JSON.stringify({
        'talk_type': 'notification_no',
        'last_ques': last_ques,
        'secret_key': '{{ company_secret_key }}',
        'user_id': '{{ u_id }}',
    }));
}

var chatCustomerSocket = new ReconnectingWebSocket(
    ws_scheme + window.location.host +
    '/ws/chat_to_customer/' + parentRoomName +'/'+ userEmail + '/');

document.querySelector('#btn-customer').onclick = function(e) {
    var message = $(".msg-input").val()
    if(message != ''){
		chatCustomerSocket.send(JSON.stringify({
			'message': message,
			'secret_key': '{{ company_secret_key }}',
			'user_id': '{{ u_id }}',
		}));
		$(".msg-input").val("")
	}
};
chatCustomerSocket.onmessage = function(e) {
	$(".wait-minute").addClass("d-none")
	$(".btn-customer").removeClass("disabled")
	$(".msg-input").prop("disabled", false).focus();
    var data = JSON.parse(e.data);
    var message = data['message'];
    var u_id = data['id']
    if(u_id == '{{ u_id }}'){
    $(".msg-container").append("<div class='sent-msg msg-txt'>"+message+"</div>")
    }
    else{
    $(".msg-container").append("<div class='reply-msg msg-txt'>"+message+"</div>")
    }
    AppendMessageBox()
};


$(document).on("click", ".slot-option", function(){
	name = $(this).attr("data-provider")
	slot = $(this).text()
	date = $(this).attr("data-time")
	pk = $(this).attr("data-pk")
	$(".booking-confirmation-box").find(".approved-provider-name").text(name)
	$(".booking-confirmation-box").find(".approved-booked-date").text(date)
	$(".booking-confirmation-box").find(".approved-slot").text(slot)
	$(".booking-confirmation-box").find(".approve-booking-yes").attr("data-time", date)
	$(".booking-confirmation-box").find(".approve-booking-yes").attr("data-slot-pk", pk)
	$(".booking-confirmation-box").removeClass("d-none")
	AppendMessageBox();
})

// Open Calender on click
$(document).on("click", ".open-datepicker", function(){
   $('#datepicker').datepicker('show');
});

$("#datepicker").datepicker({

  dateFormat: 'yy-mm-dd',
  minDate: '1d',
  changeMonth: true,
  changeYear: true,
  onSelect: function(dateText){
	  var date = $(this).val()
	  page_url = '{% url "choose_service_provider" %}'
	  var language = '{{ lang }}'
	  var pk = "{{company.pk}}"
	  AfterDateSelect(date, page_url, language, pk)
  }
});

// Book appointment
$(document).on("click", ".btn-appointment-book", function(){
	$(".msg-input").prop("disabled", true)
	$(".btn-auto-bot").addClass("disabled")
	 $this = $(this)
	 calender_line = "{{ static_dict.open_calender_line }}"
	 ClickedServiceProvider($this, calender_line)
})

// Start Bot chat

$("#start-bot").click(function(){
	this_text = $(this).text()
	bot_line = "{{ translated_dict.bot_ques }}"
	StartBotFunc(this_text, bot_line)
});

// Chat with bot
$(".btn-auto-bot").click(function(){
$(".msg-container").find(".btn-option").remove()
 question = $(".msg-input").val()
 dir_name = "{{ dir_name }}"
 history_pk = "{{ new_history.pk }}"
 secret_key = "{{ secret_key }}"
 customer_id = "{{ u_id }}"
 user_lang = "{{ lang }}"
 backup_line = "{{ company.backup_line }}"
 data = {'question': question, 'dir_name': dir_name, 'history_pk': history_pk, 'secret_key': secret_key,
  		'user_lang': user_lang, 'customer_id': customer_id, 'backup_line': backup_line}
 page_url = "{% url 'get_bot_reply_updated' %}"
 AddBotReply(data, page_url)
})

// Chat map question
	$(".btn-chat-map").click(function(){
		title_pk = $(this).attr("data-title")
		$(".btn-auto-bot").addClass("d-none")
		$(".btn-map").removeClass("d-none")
		question_pk = "0"
		is_option = "incorrect"
		text = $(this).text()
		$(".msg-container").append("<div class='sent-msg msg-txt'>"+text+"</div>")
		AppendMessageBox()
		GetNextQuestion(title_pk, question_pk, is_option)
	})


// Option answer
$(document).on("click", ".question-option", function(){
	title_pk = $(this).attr("data-title")
	question_pk = $(this).attr("data-pk")
	is_option = "correct"
	text = $(this).text()
	$(".msg-container").append("<div class='sent-msg msg-txt'>"+text+"</div>")
	AppendMessageBox()
	GetNextQuestion(title_pk, question_pk, is_option)
})

// Text answer
$(".btn-map").click(function(){
	debugger;
	title_pk = $(this).attr("data-title")
	question_pk = $(this).attr("data-pk")
	is_option = "incorrect"
	text = $(".msg-input").val()
	$(".msg-input").val("")
	$(".msg-box").find(".msg-input").prop("disabled", true).focus();
	$(".btn-map").addClass("disabled")
	$(".msg-container").append("<div class='sent-msg msg-txt'>"+text+"</div>")
	AppendMessageBox()
	GetNextQuestion(title_pk, question_pk, is_option)
})

// add hieght in service list provider

$(document).on("click", ".service-provider-item", function(){
	$(".service-provider-item").removeClass("height")
	$(this).addClass("height")
})


//------------------
});


</script>
</html>