{% extends 'base.html' %}
{% load static %}

{% block title %} Create Chat Map {% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="page-heading">
    <h2 class="float-left">Create Chat Map: {{ company.name }}</h2>
    <a href="{% url 'chat_maps' pk=company.pk slug=company.slug %}" class="btn button-submit float-right">Back</a>
</div>
<div class="clearfix"></div>
<div class="row" style="margin-top: 30px;">
    <div class="col-sm-12">
        <div class="title-div ml-auto mr-auto">
            <form method="post" class="create-title-form mx-auto w-50">
                {% csrf_token %}
                <div class="position-relative">
                {{ title_form.title }}
                <label class="position-absolute form-check-label">Enter title of chat map</label>
                {{ title_form.title.errors.as_text }}
                <button id="save-title" class="btn bg-orange text-white text-uppercase" name="title-form">Create</button>
                </div>

            </form>
            <p class="error-list error-chat-name hidden-element">This is an error.</p>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}

