{% extends 'base.html' %}
{% load static %}

{% block title %} Create Service Provider {% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<style>
.item:not(:last-of-type){
margin-bottom: 10px;
}
.provider-name, .provider-name:focus{
width: 100%;
height: 35px;
border-radius: 6px;
padding: 10px;
border: 1px solid #949494;
border-color: #949494;
outline: #949494;
}
.provider-detail{
cursor: pointer;
position: relative;
}
.provider-detail img{
max-width: 20px;
position: absolute;
top: 3px;
}
.provider-detail p{
padding-left: 25px;
}
.slot-provider-name{
font-size: 22px;
}
.available-slot{
font-size: 14px;
margin-bottom: 10px;
}
.select-time{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 10px;
border-radius: 6px;
width: max-content;
}
.select-time span{
font-size: 14px;
border-right: 1px solid #949494;
padding-right: 10px;
font-weight: 600;
}
.select-time input{
width: 50px;
border: none;
}
.select-time select{
border: none;
font-size: 12px;
color: #949494;
margin-left: 10px;
}
.slot-list{
margin-top: 15px;
}
.red-tooltip + .tooltip > .tooltip-inner, .red-tooltip + .tooltip > .tooltip-arrow {background-color: #ff0a00;}
.select-bot-name, .select-provider-category{
    height: 35px;
    border-radius: 6px;
    border-color: #949494;
    color: #949494;
    font-size: 14px;
}
span.change-provider-state{
font-size:14px;
}
span.change-provider-state span{
color: #ff8a00;
cursor: pointer;
}
span.change-provider-state span:hover{
border-bottom: 1px solid #ff8a00;
}

div.bootstrap-select.select-day-drop-down{
width: 100px !important;
}

div.bootstrap-select.select-day-drop-down > .dropdown-toggle{
color: #949494;
background-color: #fff;
border-color: #fff;
font-size: 12px;
}
div.bootstrap-select.select-bot-name > .dropdown-toggle, div.bootstrap-select.select-provider-category > .dropdown-toggle{
color: #949494;
background-color: #fff;
border-color: #949494;
font-size: 14px;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
    font-weight: normal;
    color: #949494;
    font-size: 13px;
}
</style>

{% endblock %}

{% block content %}
<div class="page-heading">
    <h2>Appointment Booking</h2>
</div>
<div class="row page-content">
    <div class="col-sm-4">
        <div class="block-content border-right">

            <div class="row">
                <div class="col-sm-6">
                    <div class="block-heading mb-3">
                        <h5 class="">Add New Category</h5>
                    </div>
                    <form method="post" id="create-provider-category-form">
                    {% csrf_token %}
                        <div class="mb-2">
                            {{category_form.name}}
                            <span class="text-danger font-12">{{category_form.name.errors.as_text}}</span>
                        </div>
                        <div class="mb-2">
                            <select name="company" class="select-bot-name w-100">
                                <option value="">Select Bot</option>
                                {% for bot in parent_company.companies.all %}
                                <option value="{{ bot.pk }}">{{ bot.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger font-12">{{ category_form.company.errors.as_text }}</span>
                        </div>
                        <div class="text-right">
                            <input type="submit" value="Submit" class="btn button-submit" name="category-save">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="block-heading mb-3">
                        <h5 class="">Add New Provider</h5>
                    </div>
                    <form method="post" id="">
                    {% csrf_token %}
                        <div class="mb-2">
                            {{ create_provider_form.name }}
                            <span class="text-danger font-12">{{ create_provider_form.name.errors }}</span>
                        </div>
                        <div class="mb-2">
                            <select name="company" class="select-bot-name provider-bot-name w-100">
                                <option value="">Select Bot</option>
                                {% for bot in parent_company.companies.all %}
                                <option value="{{ bot.pk }}">{{ bot.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2">
                            <span class="text-danger font-12">{{ create_provider_form.company.errors.as_text }}</span>
                            <select name="category" class="select-provider-category w-100 d-none">
                                <option value="">Select Category</option>
                            </select>

                        </div>
                        <div class="text-right">
                            <input type="submit" value="Submit" class="btn button-submit" name="add-provider-submit">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="block-heading">
            <h4 class="">Existing Providers</h4>
        </div>
        <div class="block-content border-right service-provider-block">
            {% include 'bot/provider-list.html' %}
        </div>
    </div>
    <div class="col-sm-5">
        <div class="block-heading">
            <h4 class="">Create Slots</h4>
        </div>
        <div class="block-content providers-slot">
            {% include 'bot/create_time_slot.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
$(document).ready(function(){

function GetProviderCategory(page_url, pk){
    $.ajax({
        url: page_url,
        data: {'pk': pk},
        dataType: "json",
        success: function(data){
            if(data['data'].length > 0){
                $(".select-provider-category").removeClass("d-none").attr("required", true)
                $(".select-provider-category").find("option:not(:first)").remove()
                $.each(data['data'] , function(index, val) {
                    $(".select-provider-category").append("<option value='"+val['pk']+"'>"+val['name']+"</option>")
                });
                $('.select-provider-category').selectpicker();
            }
            else{
                $(".select-provider-category").addClass("d-none").attr("required", false)
            }
        },
        error: function(data){
            alert("Something went wrong. Please refresh and try again.")
        },
    })
}

// show provider category
$(".provider-bot-name").change(function(){
    pk = $(this).find("option:selected").val()
    page_url = "{% url 'get_provider_category' %}"
    GetProviderCategory(page_url, pk)
})

<!------ Bootstrap Dropdown ------>

$('.select-day-drop-down').selectpicker();
$('.select-bot-name').selectpicker();

<!------ Change Provider State -------->
$(document).on("click", ".change-provider-state span", function(){
    var page_url = "{% url 'change_provider_state' %}"
    var pk = $(this).attr("data-pk")
    var name = $(this).attr("data-name")
    ChangeProviderState(pk, name, page_url)
});

<!-------- Add Time Slot -------->
$(document).on("submit", '#create-slot-form', function() {
     form = $('#create-slot-form')
     page_url = "{% url 'create_time_slot' %}"
     CreateSlotForm(form, page_url)
    return false;
 });

<!------ Add Tooltip --------->
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

<!----- Select Provider --------->
$(document).on("click", ".provider-detail", function(){
    var pk = $(this).attr("data-pk")
    var page_url = "{% url 'provider_detail' %}"
    GetProviderDetail(pk, page_url)
});

<!-------------->
});
</script>
{% endblock %}