
{% extends 'base_employee.html' %}
{% load static %}


{% block title %} Chat {% endblock %}
	{% block style %}
<link href="{% static 'bot/css/web.css' %}" rel="stylesheet">
<style>
	html, body{
    height: 100%;
    }
{% include 'room.css' %}

.auto-bot-template .sent-msg{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
	margin-left: auto;
}
.auto-bot-template .reply-msg{
	background-color: {{ company.ques_color }}
}
.auto-bot-template button.btn-option{
	border-color: {{ company.ques_color }};
}
.auto-bot-template button.btn-option:hover{
	background-color: {{ company.ques_color }};
}
.auto-bot-template .btn-submit{
	background-color: {{ company.color }};
	color: {{ company.head_text_color }};
}
.auto-bot-template{
	height: 500px;
	width: 310px;
	box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.save-btn-cont{
	width: 310px;
	margin-top: 50px;
}
.intro-div{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
</style>
	{% endblock %}


{% block content %}
<div class="text-right mx-auto save-btn-cont">
	<button id="save-chat" class="btn btn-primary">Save Chat</button>
</div>
<div class="auto-bot-template mx-auto">
<div id="frame1" class="h-100">

	<div class="content h-100">
		<div class="intro-div d-flex">
			{% if company.image %}
			<div>
				<div class="bot-img mr-2" style="background-image: url('{{ company.image.url }}')"></div>
			</div>
			{% endif %}
			<div>
				<p class="mb-0 bot-intro-text">{{ customer_name|title }}</p>
			</div>
		</div>
			<div class="chat-body px-3 pt-3 bg-white position-relative">
				<div class="msg-container">
					<div class="reply-msg msg-txt">{{ ques }}</div>
				</div>

				<!------------ Typing icon ------------>
				<div class="ticontainer d-none">
					<div class="typing-line">{{ customer_name|title }} is typing</div>
				  <div class="tiblock">
					<div class="tidot"></div>
					<div class="tidot"></div>
					<div class="tidot"></div>
				  </div>
				</div>

			</div>

			<div class="msg-box">
				<input type="text" placeholder="Type your message ..." class="msg-input">
				<button class="btn-submit btn-customer" id="btn-customer"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>

	</div>
</div>
</div>

{% endblock %}
{% block script %}
<script>

$(".messages").animate({
    scrollTop: $(document).height()
}, "fast");
var roomName = "{{ secret_key|escapejs }}";
var userEmail = "{{ uu_id|escapejs }}";


<!------- If user clicks yes --------->
var ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";

var chatCustomerSocket = new ReconnectingWebSocket(
    ws_scheme + window.location.host +
    '/ws/chat_to_customer/' + roomName +'/'+ userEmail + '/');

document.querySelector('#btn-customer').onclick = function(e) {
	var message = $(".msg-input").val()
	if(message != ''){
    chatCustomerSocket.send(JSON.stringify({
        'message': message,
        'secret_key': '{{ secret_key }}',
        'user_id': '{{ u_id }}',
    }));
    $(".msg-input").val("")
    }
};

document.querySelector('.msg-input').onkeyup = function(e) {
    if (e.keyCode === 13) {
        document.querySelector('#btn-customer').click();
    }
};

chatCustomerSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    var u_id = data['id']
    if(u_id == '{{ u_id }}'){
    	$(".msg-container").append("<div class='sent-msg msg-txt'>"+message+"</div>")
    }
    else{
    	$(".msg-container").append("<div class='reply-msg msg-txt'>"+message+"</div>")
    }
    AppendMessageBox()
};
<!----------- Save chat -------------->
$(document).ready(function(){
$("#save-chat").click(function(){
  var sent = {}
  var replies = {}
  var chat = {}

  counter = 0
  $(".reply-msg").each(function(){
  replies[counter]  = $(this).text()
  counter++
  })

  counter1 = 0
  $(".sent-msg").each(function(){
  sent[counter1]  = $(this).text()
  counter1++
  })
  $.each(replies, function(key, value){
  chat[value] = sent[key]
  })
  $.ajax({
  url: '{% url "save_chat_customer" %}',
  dataType: 'json',
  data: { 'message': JSON.stringify(chat), 'secret_key': '{{ secret_key }}', 'cust_id': '{{ uu_id }}', 'is_bot': 'no' },
  success: function(data){
  		alert("conversation has been saved.")
    }

  });

});
});
</script>
{% endblock %}