{% load static %}
<div class="test-question text-form hidden-element">
            <p class="mb-2">This is question text.</p>
            <img src="{% static 'icons/chat_map_active.png' %}" class="img-fluid mb-2">
            <a href="https://www.google.com/" style="word-break:break-word">
                https://www.google.com/</a>
        </div>
        <div class="test-question text-option-form hidden-element">
            <p class="mb-2">This is question text.</p>
            <img src="{% static 'icons/chat_map_active.png' %}" class="img-fluid mb-2">
            <a href="https://www.google.com/" style="word-break:break-word">
                https://www.google.com/</a>
            <button class="btn sent-span">Option 1</button>
            <button class="btn sent-span">Option 2</button>
        </div>
        <div class="test-question image-carousel-form hidden-element">
            <p class="mb-2">This is question text. (<b>Note: Navigation arrows will be available for user.</b>)</p>
            <div id="carousel-test" class="carousel-test slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <p class="text-center mb-2"><b>Title 1</b></p>
                      <img src="{% static 'icons/chat_map_active.png' %}" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                      <p class="text-center mb-2"><b>Title 2</b></p>
                      <img src="{% static 'icons/chat_map.png' %}" class="img-fluid">
                  </div>
              </div>
            </div>
        </div>
        <div class="test-question image-carousel-option-form hidden-element">
            <p class="mb-2">This is question text. (<b>Note: Navigation arrows will be available for user.</b>)</p>
            <div id="carousel-test-1" class="carousel-test slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <p class="text-center mb-2"><b>Title 1</b></p>
                      <img src="{% static 'icons/chat_map_active.png' %}" class="img-fluid">
                      <button class="btn sent-span">Option 1</button>
                  </div>
                  <div class="carousel-item">
                      <p class="text-center mb-2"><b>Title 2</b></p>
                      <img src="{% static 'icons/chat_map.png' %}" class="img-fluid">
                      <button class="btn sent-span">Option 2</button>
                  </div>
              </div>
            </div>
        </div>
        <div class="test-question card-form hidden-element">
            <p class="mb-2">This is question text</p>
            <p class="text-center mb-2"><b>Card title</b></p>
            <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
            <a href="https://www.google.com/" style="word-break:break-word">
                https://www.google.com/</a>
        </div>
        <div class="test-question card-option-form hidden-element">
            <p class="mb-2">This is question text</p>
            <p class="text-center mb-2"><b>Card title</b></p>
            <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
            <a href="https://www.google.com/" style="word-break:break-word">
                https://www.google.com/</a>
            <button class="sent-span btn">Option 1</button>
            <button class="sent-span btn">Option 2</button>
        </div>
        <div class="test-question card-carousel-form hidden-element">
            <p class="mb-2">This is question text. (<b>Note: Navigation arrows will be available for user.</b>)</p>
            <div id="carousel-test-2" class="carousel-test slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <p class="text-center mb-2"><b>Title 1</b></p>
                        <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
                  </div>
                  <div class="carousel-item">
                      <p class="text-center mb-2"><b>Title 2</b></p>
                      <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="test-question card-carousel-option-form hidden-element">
            <p class="mb-2">This is question text. (<b>Note: Navigation arrows will be available for user.</b>)</p>
            <div id="carousel-test-3" class="carousel-test slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <p class="text-center mb-2"><b>Title 1</b></p>
                        <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
                      <button class="btn sent-span">Option 1</button>
                  </div>
                  <div class="carousel-item">
                      <p class="text-center mb-2"><b>Title 2</b></p>
                      <p class="mb-2">Lorem ipsum dolor sit amet, ex eam munere ridens oportere. Te percipit urbanitas repudiandae pro.
                Te menandri persecuti his. Tractatos voluptatibus no usu, duo ei minim sapientem.</p>
                      <button class="btn sent-span">Option 2</button>
                  </div>
              </div>
            </div>
        </div>